@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}

body{ font-family: "M PLUS 1p";
    line-height: 1.7;
    color: rgb(218, 120, 23);
}
a {
    text-decoration: none;
}
image {
    max-width: 100%;
}


/*---------HEADER---------*/
.page_header {
    display: flex;
    justify-content: space-between;
    background-color: seagreen;
    height: 140px;
}
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

.logo {
    width: 500px;
    margin: 10px;
}

/*--------ナビ----------*/
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a{
    color: #ffffff;
}
.main-nav a:hover {
    color: firebrick;
}

/*--------背景画像---------*/
.big-bg{
    background-size: cover;
    background-position: center top;
    margin-left: 140px;
    background-repeat: no-repeat;
    background-image: url(./images/Topmenu.svg);
    min-height: 50vh;
}

/*--------ホームのルーム一覧--------*/
.roomjoin {
    display: flex;
    font-size: 35px;
    list-style: none;

}
.roomjoin li {
    margin-right: 100px;
}

.button {
    font-size: 3.5rem;
    background: rgb(34, 255, 64);
    color: #fff;
    border-radius: 10px;
}
